<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" ng-show="title">
        <button type="button"
                    class="close"
                    ng-click="$hide()">&times;</button>
      </div>

      <div class="modal-body" ng-show="content">
        <div class="edit-look-title">
         <h2>Add Image</h2>
        </div>

        <form name="$ctrl.imgForm" enctype="multipart/form-data" novalidate="">
          <div class="row row-centered">
            <div class="col-centered">
              <div class="well well-lg">
                <div class="form-group">
                  <label class="control-label"
                            for="picFile"><h3>Image Details</h3></label>

                   <div class="form-group" ng-class="{ 'has-error' : $ctrl.imgForm.title.$invalid && !$ctrl.imgForm.title.$untouched }">
                      <input type="text"
                                class="form-control"
                                placeholder="Title"
                                ng-model="$ctrl.newImage.title"
                                name="title"
                                required />
                      <p class="help-block text-danger" ng-show="$ctrl.imgForm.title.$invalid && !$ctrl.imgForm.title.$untouched">*required</p>
                    </div>

                    <div class="form-group">
                        <textarea class="form-control"
                                  placeholder="Description"
                                  rows="3"
                                  name="description"
                                  ng-model="$ctrl.newImage.description" />
                        </textarea>
                    </div>

                    <div class="controls form-group" ng-class="{ 'has-error' : $ctrl.imgForm.picFile.$invalid && !$ctrl.imgForm.picFile.$untouched }">
                      <input class="bottom-marg-15"
                                type="file"
                                ngf-select
                                ng-model="picFile"
                                accept="image/*"
                                ngf-max-size="5000000"
                                required
                                name="picFile" />

                      <div class="progress" ng-show="picFile.progress >= 0">
                        <div class="progress-bar" role="progressbar" aria-valuenow="{{picFile.progress}}" aria-valuemin="0" aria-valuemax="100" style="width:{{picFile.progress}}%">
                          <span class="sr-only" ng-bind="picFile.progress + '%'" class="ng-binding"></span>
                        </div>
                      </div>

                      <p class="help-block text-danger" ng-show="$ctrl.imgForm.picFile.$error.maxSize">File too large 5MB max</p>
                      <p class="help-block text-danger" ng-show="$ctrl.imgForm.picFile.$invalid && !$ctrl.imgForm.picFile.$untouched">*required</p>

                      <img ng-show="$ctrl.imgForm.file.$valid"
                              ngf-src="!picFile.$error && picFile"
                              class="img-thumbnail img-responsive" width="40%">

                      <button id="loadButton"
                                  class="btn btn-primary btn-lg"
                                  ng-disabled="!$ctrl.imgForm.$valid"
                                  ng-click="$ctrl.uploadImage(picFile)">Submit</button>

                      <pre>
                        {{ $ctrl.imgForm | json }}

                        {{ picFile | json }}
                      </pre>


                      <span ng-show="picFile.result">Upload Successful</span>
                      <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button"
                    class="btn btn-default pull-left"
                    ng-click="$hide()">Close</button>
        <!-- <button type="button"
                    class="btn btn-primary pull-left"
                    ng-click="$ctrl.uploadImage()">Upload</button> -->
      </div>
    </div>
  </div>
</div>